{% include 'topnav.html' %}
{% block content %}
    <h1>Reiche deine Frage ein:</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.frage.label }}<br>
            {{ form.frage(size=32) }}<br>
            {% for error in form.frage.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.antwort.label }}<br>
            {{ form.antwort(size=32) }}<br>
            {% for error in form.antwort.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.kategorie.label }}<br>
            {{ form.kategorie() }}<br>
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name() }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}