<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><link rel="stylesheet" href="{{ url_for('static', filename='styles/style_topnav.css') }}">


<body>
    <div class="topnav" id="myTopnav">
            <a style="float: left;" href='{{ url_for("add_question") }}'>Frage einreichen</a>

      {% if not username %}
            <a style="float: right" href='{{ url_for("login") }}'>Login</a>
        {% endif %}

        {% if username %}
            <a style="float: right;" href='{{ url_for("logout") }}'>Logout</a>
            <a style="float: right;" href='{{ url_for("all_questions") }}'>All Questions</a>
       {% endif %}
    </div>
</body>

